# Ignore the Python virtual environment
/myenv/
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore generated data, databases, and caches
/backend/data/
/backend/uploads/

# Ignore VS Code specific settings
.vscode/

# Ignore machine learning model caches
.cache/